<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight has been booked! <%= @passenger.name %></h1>
    <p>
        Thank you for booking your flight with flight booker.
        your username is: <%= @passenger.email %>.<br>
    </p>
    <p>
      To book another flight follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>